# Por defecto, todas las rutas son relativas a la raíz del repositorio.

# Raíz del Data Lake
DATALAKE_ROOT=./datalake

# Ubicación de Landing para Google Drive en Colab
# LANDING_PATH=/content/drive/MyDrive/cloud_provider_challenge_dataset_v1/datalake/landing

# Evidencias de ejecución
EVIDENCE_DIR=./evidence

# --- De cara a la entrega 2 ---
# ASTRA_DB_ID=
# ASTRA_DB_REGION=
# ASTRA_DB_KEYSPACE=cloud_analytics
# ASTRA_DB_APPLICATION_TOKEN=
# ASTRA_SECURE_BUNDLE_PATH=
